* {margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header {display: flex; /*the hearder will have should have a division in the middle*/
        justify-content: space-between;
        padding: 0px;
        margin: 0px;
        background-image: url(https://i.pinimg.com/236x/2e/e7/41/2ee7411c65dfd6dafb15fe7d02bf2dc9.jpg);
        
}
h1 {color: #000000;}
.imageandname {display: flex;} /* separation of the image my name*/
.container {background: rgba(82, 127, 142, 0.462);
            padding: 10px;
}
.content {display: flex; /*to have two portion or columns on my display*/
}
.left {display: grid; /*to spaceout the skills and the education section*/
       margin-right: 5px;
}
.education {box-sizing: content-box;/*set the content into box format*/
            background-color: #05244741;
            padding-left: 5px;
            
}
.skills {background-color: #05244741;
         margin-top: 5px;
         padding: 20px;
}
.right {background-color: #05244741;
        margin-left: 5px;
        padding: 20px;
}
.menu {justify-content: center;
      background-color: aliceblue;
      margin-right: 75%;
      padding: 20px;
      margin-bottom: 5px;
      border-radius: 50px;
}
html {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;}
h2 {color: #1c8eb5;}
.intro {color: #052447;
}
.profile {box-sizing: border-box;
          width: 152px;
          Height: 150px;
          margin: 5px;
          border: 3px solid #D9D9D9;
          border-radius: 125px  
}
.contactdetails {background-color:  #05244741;
                 padding: 20px;
                 margin-top: 5px;
                 margin-bottom: 5px;
}
.user_form {background-color:  #05244741;
            padding: 10px;
            margin-top: 5px; 
}
