header {background-color:  #1c8eb5;
color:}
body {background: rgba(82, 127, 142, 0.19);}
article {background: rgba(26, 106, 132, 0.31); }
html {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;}
h2 {color: #1c8eb5;}
.intro {color: #052447;}
footer {background: rgba(26, 106, 132, 0.31);}
aside {background-color: #9eb1b7;}